*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: black;
    width: 100%;
    padding: 15px 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: auto;
}
header nav .logo{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
header nav ul{
    display: flex;

}
header nav ul li{
    margin-left: 20px;
}
header nav ul li a{
    color: white;
    font-size: 24px;
    font-weight: 400;
}